parameters:
	apiKey: ''
	apiSecret: ''
	accountId: ''
services:
	-
		factory: Coinbase\Wallet\Configuration::apiKey(%apiKey%, %apiSecret%)
		setup:
			- setApiUrl(Coinbase\Wallet\Configuration::SANDBOX_API_URL)
	- Coinbase\Wallet\Client::create
	- App\Model\Payment\AccountProvider(%accountId%)
