extensions:
	kdyby.doctrine: Kdyby\Doctrine\DI\OrmExtension
	kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
	kdyby.events: Kdyby\Events\DI\EventsExtension
	kdyby.console: Kdyby\Console\DI\ConsoleExtension
	zenify.migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	zenify.events: Symnedi\EventDispatcher\DI\EventDispatcherExtension
	doctrine.identity: Majkl578\NetteAddons\Doctrine2Identity\DI\IdentityExtension

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

	-
		implement: App\Core\Form\FormFactory
		setup:
			- setRenderer
	- App\Core\Forms\Bootstrap3Renderer

	- App\FrontModule\UserModule\Components\RegisterForm\RegisterFormFactory
	- App\FrontModule\UserModule\Components\LoginForm\LoginFormFactory
	- App\FrontModule\EventModule\Components\EventForm\EventFormFactory
	- App\FrontModule\Components\FindEventForm\FindEventFormFactory
	- App\Model\User\UserRepository
	- App\Model\User\Authenticator
	- App\Model\Event\EventRepository

	- App\FrontModule\EventModule\Components\AwardForm\AwardFormFactory

	- App\Model\Payment\MoneyTransferer
	- App\Model\Payment\PayoutSender
	- App\Model\Payment\AwardCheckout
kdyby.console:
	commands:
		- App\Cli\PayoutCommand

kdyby.doctrine:
	metadata:
		App: %appDir%
zenify.migrations:
	directory: %appDir%/migrations

includes:
	- coinbase.neon
