extensions:
	kdyby.doctrine: Kdyby\Doctrine\DI\OrmExtension
	kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
	kdyby.events: Kdyby\Events\DI\EventsExtension
	kdyby.console: Kdyby\Console\DI\ConsoleExtension
	zenify.migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	zenify.events: Symnedi\EventDispatcher\DI\EventDispatcherExtension
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter


kdyby.doctrine:
	metadata:
		App: %appDir%
zenify.migrations:
	directory: %appDir%/migrations

includes:
	- coinbase.neon
